*{
  margin: 0;
  padding:0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  width: 1226px;
  margin:0 auto;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* topbar start */
.topbar{
  height: 40px;
  background-color: #333;
  font-size: 12px;
  line-height: 40px;
}

.topbar .topbar-left{
  float: left;
  color: #424242;
}
.topbar .topbar-left a,.topbar .topbar-right a{
  color: #b0b0b0;
}
.topbar .topbar-left>a:hover,.topbar .topbar-right>a:hover{
  color: #fff;
}
.topbar .topbar-left>a:hover p{
  color: #b0b0b0;
}
.topbar .topbar-right{
  float: right;
  color: #424242;
}
.topbar .user-info,.topbar .topbar-cart{
  display: inline-block;
  color: #b0b0b0;
}
.topbar .topbar-cart{
  position: relative;
  
  width: 120px;
  background-color: #424242;
  text-align: center;
  margin-left: 15px;
}
.topbar .topbar-cart .iconfont{
  font-size: 12px;
  margin-right: 5px;
}
.topbar .topbar-left .appcode{
  height: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 5px #aaa;
  transition: all 0.3s ease;
  overflow: hidden;
}
.topbar .appcode img{
  width: 90px;
  height: 90px;
  margin: 18px auto 0;
}
.topbar .appcode p{
  line-height: normal;
}
.topbar .download{
  display: inline-block;
  position: relative;
 
}
.topbar .download:hover .appcode{
  height: 148px;
}
.topbar .download:hover .triangle{
  display: block;
}
.topbar .triangle{
  display: none;
  border-width: 12px;
  border-style: solid;
  width: 0;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top:17px
}
.topbar .cart-menu{
  width: 316px;
  height: 0px;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  position: absolute;
  top:40px;
  z-index: 10;
  right: 0;
  transition: all .3s ease;
  background-color: #fff;
}
.topbar-cart:hover{
  background-color: #fff;
  color: #ff6700;
}
.topbar-cart:hover .cart-menu{
  height: 100px;
}
/* topbar end */
/* header start */
.header{
  position: relative;
}

.header .header-logo,.header .header-nav,.header .header-search{
  float: left;
}
.header .header-logo{
  width: 62px;
}
.header .header-nav{
  width: 850px;
}
.header .header-search{
  width: 296px;
}
.header .hl-content{
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  margin-top: 22px;
  overflow: hidden;
}
.header .hl-content::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/mi-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 55px;
  display: block;
  transition: all .1s ease;
}
.header .hl-content::before{
  position: absolute;
  top: 0;
  left: -55px;
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-image: url("../img/mi-home.png");
  background-repeat: no-repeat;
  background-position:  center;
  transition: all .3s ease;
}
.header .header-logo:hover .hl-content::before{
  left: 0;
}
.header .header-logo:hover .hl-content::after{
  left: 55px;
}
.header .header-nav ul{
  height: 88px;
  padding: 12px 0 0 30px;
  margin-left: 100px;
}
.header .header-nav li{
  list-style: none;
  display: inline-block;
  padding: 26px 10px 38px;
  color: #333;
  font-size: 16px;
}
.header .header-search .form-bar{
  position: relative;
  width: 296px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
}
.header .header-search .fb-input{
  width: 245px;
  border-right: 1px solid #e0e0e0;
  height: 50px;
  display: inline-block;
}
.header .fb-input input{
  border: none;
  outline: none;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}
.input-text{
  position: absolute;
  top: 13px;
  left: 80px;
}
.input-text span{
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background: #eee;
  color: #757575;
  
}
.input-text span:hover{
  background-color: #ff6700;
  color: #fff;
  transition: all .5s ease;
}
.fb-btn{
  display: inline-block;
  height: 50px;
  margin-left: 5px;
}
.fb-btn .iconfont{
  font-size: 30px;
  position: relative;
  top:5px;
  color: #666
}
.header .nav-menu{
  height: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0,0,0,.18);
  position: absolute;
  left: 0;
  top:95px;
  border-top:1px solid #e0e0e0;
  transition: all 0.3s ease;
  overflow: hidden;
}
/* 调试时打开注释 */
/* .nav-bar:hover + .nav-menu{
  height: 229px;
} */
.header .nb-list{
  position: absolute;
  top:120px;
  left: 100px;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.header .nb-list li{
  display: none;
  float: left;
  list-style: none;
  height: 100px;
  width: 80px;
  background-color: red;
  margin-left: 10px;
}
.header .nav-bar li:nth-child(2) .nb-list li{
  background-color: blue;
}
/* 调试时打开注释 */
/* .nav-bar > li:hover .nb-list li{
  display: block;
} */
/* header end */
/* swiper start*/
.swiper-bar .container{
  position: relative;
  height: 460px;
}
.swiper-bar .site-category{
  position: absolute;
  top:0;
  left: 0;
  width: 234px;
  height: 460px;
  z-index: 10;
  background-color: rgba(105,101,101,.6);
}
.site-category ul{
  padding:20px 0;
}
.site-category ul li{
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  position: relative;
}
.site-category ul li:hover{
  background-color: #ff6700;
  cursor: pointer;
}
.site-category li i{
  position: absolute;
  right: 10px;
}
.swiper-bar .swiper-wrapper{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 460px;
}
.swiper-item img{
  width: 1226px;
}
/* swiper end */
/* hero-sub start */
.hero-sub{
  margin-top: 14px;
}
.hero-sub .hs-left{

  width: 234px;
  float: left;
  height: 170px;
  background-color: #5f5750;
  overflow: hidden;
}
.hero-sub .hs-left li{
  float: left;
  width: 70px;
  height: 57px;
  padding: 0 3px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top:25px;
  position: relative;
}
.hero-sub .hs-left li::before,.hero-sub .hs-left li::after{
  content:"";
  display: block;
  background-color: #665e57;
}
.hero-sub .hs-left li::before{
  position: absolute;
  width: 64px;
  height: 1px;
  top: -1px;
  left: 6px;
}
.hero-sub .hs-left li::after{
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
}

.hero-sub .hs-right{
  margin-left: 14px;
  right: 978px;
  float: left;
}
.hero-sub .hs-right li{
  float: left;
  margin-right: 15px;
}
.hero-sub .hs-right li:last-child{
  margin-right: 0;
}
.hero-sub .hs-right img{
  width: 316px;
  height: 170px;
}

/* hero-sub end */